/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/*estilo do BG*/
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient( 45deg,#000000, #141414,#303030,#555555,#707070);
    background-size: 100% 400%;
    animation: colors 15s ease infinite;
}


/*estilo do cabeçalho*/
.cabecalho {
display:flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
padding: 35px 65px;
background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho-menu {
    display: flex;
    gap: 60px;
    font-weight: 600;
}

.cabecalho-menu-item {
    font-family: 'Maven Pro', sans-serif;
    color: rgb(204, 204, 204);
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
}

/*ajustes da espaço central da pagina*/
.conteudo {
    border-top: 0.5px solid rgb(175,175,175);
    margin-bottom: 60px;
    padding:  60px 0;
    font-family: 'Maven Pro', sans-serif;
    color: silver;
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
}

/*estilo da foto*/
/*ajuda da turma no slack para ajuste dessa parte a baixo(@kadu)*/
 img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
}

/*estilo do 'nome'*/
 h1{
     font-family: 'MANIFESTO', serif;
     font-weight: normal;
     font-size: 30px;
     text-align: center;
     padding: 60px;
     color: silver;
     text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);

 }

 /* estilo e orientaçao do conteudo central */
 #conteudo-secundario{
     padding: 60px;
     width: 900px;
     height: 320px;
     text-align: center;
     border: 2px solid rgb(175, 175, 175, 0.3);
     border-radius: 18px;
     margin: auto;
     background-color: rgba(200, 200, 200, 0.1);
     color: silver;
     text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
    
 }

 .listas {
     margin-top:60px ;
    border-top: 2px solid rgb(175, 175, 175, 0.3);
    border-bottom: 2px solid rgb(175, 175, 175, 0.3);
    background-color: rgba(200, 200, 200, 0.1);
    font-size: 20px;
     padding: 30px ;
     margin: 30px 0 30px 0;
 }


/* estilo do rodape */
.rodape{
    background-color: rgba(0, 0, 0, 0.5);
}
 #anim {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     font-family: 'Maven Pro', sans-serif;
     color: silver;
     text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
     border-top: 0.5px solid rgb(175,175,175);
     padding: 60px;
     font-weight: 600;
     font-size: 45px;
 }

 #contatos {
     font-size: 20px;
 }

 #github {
     color: silver;
 }

 #linkedin{
    color: silver;
 }

 #instagram {
    color: silver;
 }

 #facebook {
    color: silver;
 }

 #whatsapp {
    color: silver;
 }

 @keyframes colors{
    0%{
        background-position:0% 50% ;

    }
    50%{
        background-position:100% 50% ;

    }
    100%{
        background-position:0% 50% ;

    }
}
@font-face {
    font-family:'MANIFESTO' ;
    src: url(./MANIFESTO.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*links externos
Referencia usada nesse projeto:https://www.youtube.com/watch?v=6zjdx_HO2-g
biblioteca de icones:https://fontawesome.com/

*/
