/*Referencia usada nesse projeto:https://www.youtube.com/watch?v=6zjdx_HO2-g*/

/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
/*estilo do BG*/
body{
    font: monaco 20px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient( 45deg,#0f2268, #193498,#113CFC,#1597E5,#69DADB);
    background-size: 300% 300%;
    animation: colors 25s ease infinite;
}


/*estilo do cabeçalho*/


/*estilo da foto*/
/*ajuda da turma no slack para ajuste dessa parte a baixo(@kadu)*/
 img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;

 }
/*estilo do 'nome'*/
 h1{
     font-family: 'MANIFESTO', serif;
     font-weight: normal;
     font-size: 30px;

 }
 @keyframes colors{
    0%{
        background-position:0% 50% ;

    }
    50%{
        background-position:100% 50% ;

    }
    100%{
        background-position:0% 50% ;

    }
}
@font-face {
    font-family:'MANIFESTO' ;
    src: url(./MANIFESTO.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
